[submodule "powerline"]
	path = powerline
	url = https://github.com/powerline/powerline.git
[submodule "nix-zsh-completions"]
	path = nix-zsh-completions
	url = https://github.com/spwhitt/nix-zsh-completions.git
